{% extends "base.html.twig" %}

{% block title %}
    Projects
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="/css/styles.css">

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->

{% endblock %}

{% block content %}

<header>
    <div class="page-header">
        <h1>Projects</h1>
    </div>
</header>

<ul class="list-group">
{% for project in projects %}

    <li class="list-group-item">
        <h2>{{ project.key }}: {{ project.name }}</h2>
        <a href="{{ path('pull-requests', {projectKey: project.key}) }}" class="badge">Pull Requests</a>
        <a href="{{ path('tags', {projectKey: project.key}) }}" class="badge">Branches / Tags</a>
        {% if project.description is defined %}
        <p class="list-group-item-text">{{ project.description }}</p>
        {% endif %}
    </li>

{% endfor %}
</ul>

{% endblock %}
